.git

db/mysql/flyway/report.html
db/mysql/flyway/report.json

go/bin
go/src/coverage.out
go/src/coverage.html

typescript/node_modules
typescript/coverage
typescript/.next
typescript/out
typescript/build
typescript/yarn.lock
typescript/npm-debug.log*
typescript/yarn-debug.log*
typescript/yarn-error.log*
